<div class="intro">
	<%= image_tag("padibility_kangaroo.png") %>
	<p>Finding Room For People</p>
		
	<ul class="entrance">
		<li class="pad"><%= link_to 'Need a Pad?', seekerssurvey_path %></li>
		<li class="pad"><%= link_to 'Got a Pad?', ownersurvey_path %></li>
		<li class="pad"><a href="browse_seekers.html">Browse Pad Seekers</a></li>
		<li class="pad"><a href="browse_providers.html">Browse Pad Owners</a></li>
		<li class="learn">Learn More</li>
	</ul>
	</div>