<div class="intro">
	<%= image_tag("padibility_kangaroo.png") %>
	<p>Finding Room For People</p>
		
	<ul>
		<li class="pad"><%= link_to 'Need a Pad?', seekerssurvey_path %></li>
		<li class="pad"><%= link_to 'Got a Pad?', ownersurvey_path %></li>
		<a href="browse_seekers.html"><li class="pad">Browse Pad Seekers</li></a>
		<a href="browse_owners.html"><li class="pad">Browse Pad Owners</li></a>
		<a href="how_it_works.html"><li class="learn">Learn More</li></a>
	</div>