<div id="lineup">
	<h2>The Team</h2>
	<p>Padibility originated among a group of friends at Harvard University who met in the same dorm entryway during their freshman year. Their stressful summer housing searches prompted a simple question: what if the same data-driven process that matched us at Harvard could be made available to countless others?</p>	
	<table>
		<tbody>
		<tr>
			<td><img class="headshot" src="http://padibility.com/img/najineg.jpg" height="250" width="170" />
					<h2>Naji Filali</h2>
					<p>Naji is the Executive Team Manager and Header of Operations and Outreach to real estate firms. He's tasked with building a network of trusted brokerage.</p></td>
				<td class="staff"><img class="headshot" src="http://padibility.com/img/timneg.jpg" height="250" width="170" />
					<h2>Tim Hopper</h2>
					<p>Tim is the Chief Strategist and Marketing Manager. He manages outreach efforts to potential consumers through existing campus-based social networks.</p>
				</td>
				<td id="linear" class="staff"><img class="headshot" src="http://padibility.com/img/angieneg.jpg" height="250" width="170" />
					<h2>Angie Peng</h2>
					<p>Angie is the Market Research Manager. She has experience in management consulting and finance and specializes in consumer behavior analysis.</p>
				</td>
		</tr>
		<tr class="dos">
			<td id="linear" class="staff"><img class="headshot" src="http://i.imgur.com/xFSTrDN.jpg?1" height="250" width="170" />
					<h2>Charles Walker</h2>
					<p>Charles is the Junior Web Developer. He is tasked with designing and maintaining the web site.</p>
			</td>
			<td class="staff"><img class="headshot" src="http://padibility.com/img/brandonneg.jpg" height="250" width="170" />
				<h2>Brandon Gerberich</h2>
				<p>Brandon is the Chief Data Science Officer. He is tasked with optimizing matching and user experience using emergent social trends</p>
			</td>
</tr>
</tbody>
</table>
</div>