<div id="wrapper">
                <div id="form_one_page" class="font one page link">
        <form action="/form_db_1" method="post" name="quiz" id="quiz">
                <h3 class="title">Padibility Questionnaire</h3>
                <div class="schoolemail">
                	<label for="email">Your school email address:</label>
                    <input id="long" type="text" name="email" id="email" placeholder="Email" required="required" value="TODO echo "\"".$email."\""; " />
                    <br />
                    <label for="fullname">Your name:</label>
                    <input id="long" type="text" name="fullname" placeholder="Name"required="required" />
                </div>
                <div class="holder">
                    <div>
                        <p>What are you looking for?</p>
                            <span class="only"><input type="radio" id="survey_type_1" name="roommates" class="regular-radio" value="Roommates only" checked/><label for="roommates">Only roommates</label>
                            <input type="radio" id="survey_type_2" name="room" class="regular-radio" value="Room only"/><label for="room">Only a room</label>
                            <input type="radio" id="survey_type_3" name="both" class="regular-radio" value="Both" /><label for="both">Both</label></span></div><br />
                        </div>
                    </div>
                
            <div class="holder">
                 <div>
                    <p class="move">Where will you be moving to? (We will be expanding to more cities in the coming weeks!)</p>
                    <div class="button-holder">
                        <table class="cityoptions">
                            <tbody>
                                <tr>
                                    <td><input type="radio" id="moving_to_1" name="movingnyc" class="regular-radio" value="New York City" checked="checked"/><label for="movingnyc">New York City</label></td>
                                    <td><input type="radio" id="moving_to_2" name="movingboston" class="regular-radio" value="Boston"/><label for="movingboston">Boston</label></td>
                                    <td><input type="radio" id="moving_to_3" name="movingdc" class="regular-radio" value="Washington D.C."/><label for="movingdc">Washington, D.C.</label></td>
                                    <td><input type="radio" id="moving_to_4" name="movingsf" class="regular-radio" value="San Francisco"/><label for="movingsf">San Francisco</label></td>
                                </tr>
                                <tr>
                                    <td><input type="radio" id="moving_to_5" name="movingchi" class="regular-radio" value="Chicago"/><label for="movingchi">Chicago</label></td>
                                    <td><input type="radio" id="movingla" name="moving_to" class="regular-radio" value="Los Angeles"/><label for="movingla">Los Angeles</label></td>
                                    <td colspan="2"><input type="radio" id="moving_to_7" name="movingother" class="regular-radio" value="Other"/><label for="movingother">Other</label>
                        <input id="cityname" type="text" name="movingother" placeholder="City Name" hidden/></td>
                    </tr>
                </tbody>
            </table>
                        </div>
                    </div>
                </div>
             <!-- End of holder -->   
             <div class="holder">
                <p>What is your gender?</p>
                    <input type="radio" id="sex_1" name="sexguy" class="regular-radio" value="Male" checked="checked" /><label for="sexguy">Male</label>
                    <input type="radio" id="sex_2" name="sexgirl" class="regular-radio" value="Female"/><label for="sexgirl">Female</label>
                    <input type="radio" id="sex_3" name="sexother" class="regular-radio" value="Other"/><label for="sexother">Other</label>
            </div> 
            <div class="holder">
                <p>Are you okay with co-ed housing?</p>
                <div class="button-holder">
                    <input type="radio" id="coed_1" name="coedyes" class="regular-radio" value="Yes"/><label for="coedyes">Yes</label>
                    <input type="radio" id="coed_2" name="coedno" class="regular-radio" value="No" checked="checked" /><label for="coedno">No</label><br />
                    
                </div>
            </div>
            <br /> 
            <div class="holder">
                <div>
                    <span>How old are you?</span><input class="short" type="text" name="age" placeholder="Age" required="required"/>
                </div>
            </div>

                <div class="holder">
                <p class="housing_only">What type of housing are you looking for?</p>
                <p class="roommates_only">What type of roommates are you looking for?</p>
                <p class="both">What type of housing/roommates are you looking for?</p>
                    <div class="button-holder">
                        <input type="radio" id="housing_type_1" name="postgrad" class="regular-radio" value="Postgraduate" checked="checked"/><label for="postgrad">Postgraduate (long-term)</label>
                        <input type="radio" id="housing_type_2" name="summer" class="regular-radio" value="Summer"/><label for="summer">Summer (short-term, summer)</label><br />
                    </div>
                </div>
            <div class="holder">
                 <div>
                    <p class="roommates_both">How many roommates would you like?</p>
                    <p class="housing_only">How many roommates will be living with you?</p>
                    <div class="button-holder">
                        <input type="radio" id="roommates_num_1" name="roommatesone" class="regular-radio" value="1" checked="checked"/><label for="roommatesone">1</label>
                        <input type="radio" id="roommatestwo" name="roommatestwo" class="regular-radio" value="2"/><label for="roommatestwo">2</label>
                        <input type="radio" id="roommates_num_3" name="roommatesthree" class="regular-radio" value="3"/><label for="roommatesthree">3</label>
                        <input type="radio" id="roommates_num_4" name="roommatesfour" class="regular-radio" value="4"/><label for="roommatesfour">4</label>
                        <input type="radio" id="roommates_num_5" name="roommatesfive" class="regular-radio" value="Do not care"/><label for="roommatesfive">5</label>
                        <input type="radio" id="roommates_num_5" name="roommatesdc" class="regular-radio" value="Do not care"/><label for="roommatesdc">Don't care</label>
                        <!-- </div>-->
                        <!--<div class="housing_only">-->
                            <input type="radio" id="roommates_num_6" name="roommatesplus" class="regular-radio" value="Other"/><label for="roommatesplus">5 or more, specify</label>
                            <input class="short_other" type="text" name="roommates_num_other" placeholder=""/>
                       </div> 
                    </div>
                 <!-- End of holder -->
            <div class="holder">
                <div class="roommates_both">
                    <p>Have you already formed a roommate group of two or more to which you are looking to add roommates?</p>
                    <div class="button-holder">
                        <input type="radio" id="formed_group_1" name="formed_group_1" class="regular-radio" value="Yes"/><label for="formed_group_1">Yes</label>
                        <input type="radio" id="formed_group_2" name="formed_group_2" class="regular-radio" value="No" checked="checked" /><label for="formed_group_2">No</label><br />
                    </div>
                </div>
            </div>

            <div class="holder">
                <div class="roommates_both other_roommates">
                    <p> Great! We can help with that too. List the names of all others in your rooming group (seperated by a comma) and make sure they fill out the Padibility Questionnaire too.</p>
                    <input id="namelist" type="text" name="names_other_roommates" placeholder="Other roommates"/>
                </div>
            </div>
            <span id="range"><div class="holder">
                <div class="roommates_both">
                    <p class="agemin"><strong>Age Range:</strong>
                    <select name="agemin">
                        <option value="Age Min.">Age Min.</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="61">61</option>
                        <option value="62">62</option>
                        <option value="63">63</option>
                        <option value="64">64</option>
                        <option value="65">65</option>
                        <option value="66">66</option>
                        <option value="67">67</option>
                        <option value="68">68</option>
                        <option value="69">69</option>
                        <option value="70">70</option>
                        <option value="71">71</option>
                        <option value="72">72</option>
                        <option value="73">73</option>
                        <option value="74">74</option>
                        <option value="75">75</option>
                        <option value="76">76</option>
                        <option value="77">77</option>
                        <option value="78">78</option>
                        <option value="79">79</option>
                        <option value="80">80</option>
                        <option value="81">81</option>
                        <option value="82">82</option>
                        <option value="83">83</option>
                        <option value="84">84</option>
                        <option value="85">85</option>
                        <option value="86">86</option>
                        <option value="87">87</option>
                        <option value="88">88</option>
                        <option value="89">89</option>
                        <option value="90">90</option>
                        <option value="91">91</option>
                        <option value="92">92</option>
                        <option value="93">93</option>
                        <option value="94">94</option>
                        <option value="95">95</option>
                        <option value="96">96</option>
                        <option value="97">97</option>
                        <option value="98">98</option>
                        <option value="99">99</option>
                        <option value="100">100</option>

                    </select> - <select name="age_max">
                        <option value="Age Max.">Age Max.</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="61">61</option>
                        <option value="62">62</option>
                        <option value="63">63</option>
                        <option value="64">64</option>
                        <option value="65">65</option>
                        <option value="66">66</option>
                        <option value="67">67</option>
                        <option value="68">68</option>
                        <option value="69">69</option>
                        <option value="70">70</option>
                        <option value="71">71</option>
                        <option value="72">72</option>
                        <option value="73">73</option>
                        <option value="74">74</option>
                        <option value="75">75</option>
                        <option value="76">76</option>
                        <option value="77">77</option>
                        <option value="78">78</option>
                        <option value="79">79</option>
                        <option value="80">80</option>
                        <option value="81">81</option>
                        <option value="82">82</option>
                        <option value="83">83</option>
                        <option value="84">84</option>
                        <option value="85">85</option>
                        <option value="86">86</option>
                        <option value="87">87</option>
                        <option value="88">88</option>
                        <option value="89">89</option>
                        <option value="90">90</option>
                        <option value="91">91</option>
                        <option value="92">92</option>
                        <option value="93">93</option>
                        <option value="94">94</option>
                        <option value="95">95</option>
                        <option value="96">96</option>
                        <option value="97">97</option>
                        <option value="98">98</option>
                        <option value="99">99</option>
                        <option value="100">100</option>

                    </select></p>
                </div>
            </div></span>
            <div class="holder">
                <div class="housing_both">
                      <p><strong>Max. Rent</strong> (per Person):
                      <input type="text" name="maxrent" id="amount" required="required"></p>
                </div>
            </div> <!-- End of holder -->
            <div class="holder">
                <p><strong>Move in date:</strong> <input type="text" name="move_in" id="datepicker-in" required="required"></p>
                <p><strong>Move out date</strong> (optional): <input type="text" name="move_out" id="datepicker-out"></p>
            </div> <!-- End of holder -->
            <div class="holder">
                <!--<div class="housing_both">-->
                    <p>How many bedrooms would you prefer to have in your apartment?</p>
                    <div class="button-holder">
                        <table>
                        <tr>
                            <td><input type="radio" id="bed_num_1" name="studio" class="regular-radio" value="Studio" checked="checked"/><label for="studio">Studio</label></td>
                            <td><input type="radio" id="bed_num_2" name="bedtwo" class="regular-radio" value="1"/><label for="bedtwo">1 Bedroom</label></td>
                            <td><input type="radio" id="bed_num_3" name="bedthree" class="regular-radio" value="2"/><label for="bedthree">2 Bedrooms</label></td>
                            <td><input type="radio" id="bed_num_4" name="bedfour" class="regular-radio" value="3"/><label for="bedfour">3 Bedrooms</label></td>
                        <td><input type="radio" id="bed_num_5" name="bed_num" class="regular-radio" value="4+"/><label for="bedfive">4+ Bedrooms</label></td></tr>

                    <!--</div>-->
                </table>
                </div>
            </div>
            <div class="holder">
                <div class="housing_both">
                    <p>What minimum amenities would you prefer to have in your apartment?</p>
                    <div class="button-holder">
                        <table>
                            <tr>
                        <td><input type="checkbox" id="amenities_1" name="balcony" class="regular-checkbox" value="Balcony" /><label for="balcony">Balcony</label></td>
                        <td><input type="checkbox" id="amenities_2" name="dish" class="regular-checkbox" value="Dishwasher"/><label for="dish">Dishwasher</label></td>
                        <td><input type="checkbox" id="amenities_3" name="doorman" class="regular-checkbox" value="Doorman"/><label for="doorman">Doorman</label></td>
                        <td><input type="checkbox" id="amenities_4" name="elevator" class="regular-checkbox" value="Elevator"/><label for="elevator">Elevator</label></td>
                        <td><input type="checkbox" id="amenities_5" name="furnished" class="regular-checkbox" value="Furnished"/><label for="furnished">Furnished</label></td>
                        <td><input type="checkbox" id="amenities_6" name="garage" class="regular-checkbox" value="Garage"/><label for="garage">Garage</label></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="amenities_7" name="gym" class="regular-checkbox" value="Gym"/><label for="gym">Gym</label></td>
                        <td><input type="checkbox" id="amenities_8" name="laundry" class="regular-checkbox" value="In-Unit Laundry"/><label for="laundry">In-Unit Laundry</label></td>
                        <td><input type="checkbox" id="amenities_9" name="washroom" class="regular-checkbox" value="Laundry Room"/><label for="washroom">Laundry Room</label></td>
                        <td><input type="checkbox" id="amenities_10" name="outdoor" class="regular-checkbox" value="Outdoor Space"/><label for="outdoor">Outdoor Space</label></td>
                        <td><input type="checkbox" id="amenities_11" name="amenities[]" class="regular-checkbox" value="Parking Space"/><label for="parking">Parking</label></td>
                        <td><input type="checkbox" id="amenities_12" name="terrace" class="regular-checkbox" value="Terrace"/><label for="terrace">Terrace</label></td>
                    </tr>
                    </table>
                    </div>
                </div>
            </div>
            <div id ="sound" class="holder">
                <!--<div class="housing_only">-->
                    <p class="noise">What is your ideal noise level?
                    <select>
                        <option value="Very Quiet">Very Quiet</option>
                        <option value="Moderately Quiet">Moderately Quiet</option>
                        <option value="Average">Average</option>
                        <option value="Moderately Loud">Moderately Loud</option>
                        <option value="Very Loud">Very Loud</option>
                        <option value="Doesn't Matter">Doesn't Matter</option>
                    </select></p>
                </div>
            </div>
            <div class="holder">
                 <div class="roommates_both">
                    <table>
                        <tr>
                            <td>Wake up time</td>
                    <td><select name="dawn" class="morning">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select> : <select class="morning">
                    <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option><option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option><option value="60">60</option>

                    </select></td>
                    <tr>
                    <td>Bed time</td>
                    <td><select name="moon" class="nighthour">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select> : <select class="night">
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option><option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option><option value="60">60</option>
                    </td>
                </tr>
            </table>

                    </select></div>
            <div class="holder">
                 <div>
                    <p class="housing_only">Are you okay with pets in the apartment?</p>
                    <p class="roommates_both">Would you be okay if your roommate had a pet?</p>
                    <div class="button-holder">
                        <input type="radio" id="pets_1" name="petsyes" class="regular-radio" value="Yes" checked="checked"/><label for="petsyes">Yes</label>
                        <input type="radio" id="pets_2" name="petsno" class="regular-radio" value="No"/><label for="petsno">No</label>
                        <input type="radio" id="pets_3" name="petsdc" class="regular-radio" value="Do not care"/><label for="petsdc">Don&#39;t care</label><br />
                    </div>
                </div>
            </div>
            <div class="holder">
                <div class="roommates_both">
                    <p>Describe your level of sociability:
                    <input id="long" type="text" name="sociability" placeholder="Sociability Level" /></p>
                    <p>Describe your level of tidiness:
                    <input id="long" type="text" name="tidiness" placeholder="Tidiness Level" /></p>
                </div>
            </div>
            <div class="holder">
                <div class="roommates_both">
                    <p class="hobby">List some of your interests and activites: (Separate each with a comma)
                    <input type="text" name="activities" placeholder="Interests & Activities" /></p>
                </div>
            </div>
            <div class="holder">
                <div class="roommates_both">
                    <p>Describe your political views:
                    <input id="long" type="text" name="political" placeholder="Political Views" /></p>
                    <p>Do the political views of your roommate matter to you?
                    <input type="radio" value="yes" name="politicyes" /><label for="politicyes">Yes</label>
                    <input type="radio" value="no" name="politicno" /><label="politicno">No</label></p>
                    <p>Describe your religious views:
                    <input id="long" type="text" name="religion" placeholder="Religious Views" /></p>
                    <p>Do the religious views of your roommate matter to you?
                    <input type="radio" value="yes" name="religionyes" /><label for="religionyes">Yes</label>
                    <input type="radio" value="no" name="religionno" /><label="religionno">No</label></p>
                </div>
            </div>
            <div class="holder">
                <div class="roommates_both">
                    <p>How sexually active would you say that you are?
                    <select class="sexualactivity">
                        <option value="I do not care to disclose that information.">I do not care to disclose that information.</option>
                        <option value="Very Active">Very Active</option>
                        <option value="Moderately Active">Moderately Active</option>
                        <option value="Infrequently Active">Infrequently Active</option>
                        <option value="Inactive">Inactive</option>
                    </select></p>
                    <p><input type="checkbox" value="yes" name="sexprivate" />
                    I am private with sex.
                    <input type="checkbox" value="yes" name="roommmatesexprivate" />
                    I wish for my roommate to be private with sex.</p>
                </div>
            </div>
            <div class="holder">
                <div class="roommates_both">
                    <table class="addictions">
                        <tr>
                    <td>Do you smoke?</td>
                    <td><input type="radio" value="yes" name="smokeyes" /><label for="smokeyes">Yes</label></td>
                    <td><input type="radio" value="no" name="smokeno" /><label="smokeno" class="smokeno">No</label></td>
                    <td><label for="smokeoften">How often?</label>
                    <select class="smokeoften">
                        <option value="Regularly">Regularly</option>
                        <option value="Occasionally">Occasionally</option>
                        <option value="Every Now and Then">Every Now and Then</option>
                    </select></td>
                    <td><label for="smokesocially">Only Socially</label>
                    <input type="checkbox" name="smokesocially" value="Yes" /></td>
                    <td><label for="smokequit">Trying to Quit</label>
                    <input type="checkbox" name="smokequit" value="Yes" /></td>
                </tr>
                <tr>
                <td>Do you drink?</td>
                    <td><input type="radio" value="yes" name="drinkyes" /><label for="drinkyes">Yes</label></td>
                    <td><input type="radio" value="no" name="drinkno" /><label="drinkno">No</label></td>
                    <td><label for="drinkoften">How often?</label>
                    <select class="drinkoften">
                        <option value="Regularly">Regularly</option>
                        <option value="Occasionally">Occasionally</option>
                        <option value="Every Now and Then">Every Now and Then</option>
                    </select></td>
                    <td><label for="drinksocially">Only Socially</label>
                    <input type="checkbox" name="drinksocially" value="Yes" /></td>
                    <td><label for="drinkquit">Trying to Quit</label>
                    <input type="checkbox" name="drinkquit" value="Yes" /></td>
                </tr>
                <tr>
                    <td>Do you do drugs?</td>
                    <td><input type="radio" value="yes" name="drugsyes" /><label for="drugsyes">Yes</label></td>
                    <td><input type="radio" value="no" name="drugsno" /><label="drugsno">No</label></td>
                    <td><label for="drugsoften">How often?</label>
                    <select class="drugsoften">
                        <option value="Regularly">Regularly</option>
                        <option value="Occasionally">Occasionally</option>
                        <option value="Every Now and Then">Every Now and Then</option>
                    </select></td>
                    <td><label for="drugssocially">Only Socially</label>
                    <input type="checkbox" name="drugssocially" value="Yes" /></td>
                    <td><label for="drugsquit">Trying to Quit</label><input type="checkbox" name="drugsquit" value="Yes" /></td>
                </tr>
            </table>
                </div>
            </div>
            <div class="holder">
                <div class="roomates_both">
                    <p>Do you bring overnight guests?
                    <input type="radio" value="yes" name="smokeyes" /><label for="smokeyes">Yes</label>
                    <input type="radio" value="no" name="smokeno" /><label="smokeno">No</label>
                    <label for="overnightoften">How often?</label>
                    <select class="overnightoften">
                        <option value="Regularly">Regularly</option>
                        <option value="Occasionally">Occasionally</option>
                        <option value="Every Now and Then">Every Now and Then</option>
                    </select></p>
                    <p><input type="checkbox" value="yes" name="roommateovernight" />I am okay with my roommate bringing overnight guests.</p>
                </div>
            </div>
            <div class="holder">
                <div class="roommates_both">
                    <p>Question for Potential Roommate:
                    <input type="text" name="question" placeholder="Ask anything!" /></p>
                </div>
            </div>
            <div>
                <p>Which state or country are you originally from?
                <input id="long" type="text" name="hometown" placeholder="Home" required="required"/></p>
            </div>
            <div>
                <p>What school do you or did you most recently attend?
                <select class="styled-select" name="school">
                  <option value="Harvard">Harvard</option>
                  <option value="Yale">Yale</option>
                  <option value="MIT">MIT</option>
                </select></p>
            </div>
            <div>
                <p>At what company or organization will you be working this summer or after graduation?
                <input id="long" type="text" name="work" placeholder="Company or organization" required="required"/></p>
            </div>
            <!--<div class="housing_only">-->
                <p><span class="terms_error">Please read the <a href="/terms" target="_blank">Terms & Conditions</a></span></p>
                <input type="checkbox" id="terms_1" name="terms" class="regular-checkbox terms_class" value="read"/><label for="terms_1">I have read the <a href="/terms" target="_blank">Terms & Conditions</a></label>
            <!-----</div>---->
            <div class="circle_wrapper roommates_both">
                <div class="dark_circle" ></div>
                <div class="light_circle" ></div>
                <div class="light_circle" ></div>
            </div>
            
            <div class="housing_only">
                <div class="submit_button">
                <input id="submit_room_only" class="nextbutton one pages submitbutton" type="submit" name="submit" value="Submit!" disabled/>
                </div>
        </div>
        </form>
        <form action="FileUpload.php" method="post" enctype="multipart/form-data">
    <label for="upload">Upload your Profile Photo:</label><br />
    <input type="file" name="upload" id="upload"><br/>
    <input type="submit" name="submit" value="Upload">
    <div class="roommates_both">
                <input id="next1" class="nextbutton one pages" type="submit" name="submit" value="Save and continue >"/>
            </div>
</form>
 <!-- End of page one -->
         </div>
    </div> <!-- End of wrapper -->
