/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-image:url("/background.png");
	font-family:Myriad Pro;
	color:white;
	width:100%;
	overflow:auto;
	font-size:22px;
}
header, footer {
	background:black;
	color:white;
	width:100%;
	overflow:hidden;
	margin-left:-7px;
	margin-top:-7px;
}
footer {
	position:relative;
	top:20px;
	left:-3px;
	height:45px;
}
footer p {
	margin-left:12px;
}
header {
	height:80px;
}
.home {
	position:relative;
	left:-25px;
	top:13px;
}
.second {
	height:450px;
	width:600px;
}
#team .second td {
	padding-left:100px;
	margin-top:0;
}
.nav {
	list-style:none;
	width:100%;
	display:inline;
	height:80px;
}
.nav li {
	list-style-type:none;
	height:100%;
	text-align:center;
	margin-right:0px;
	display:inline;
	height:80px;
	width:100px;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
}
.nav .logout {
	display:none;
}
.nav li span {
	text-align:center;
}
.nav #house {
	float:left;
	margin-top:-10px;
}
.nav li a {
	display:inline;
	color:white;
	font-size:22px;
	margin-right:50px;
	text-align:center;
	line-height:80px;
	padding: 15px 15px 15px 15px;
}
.nav a {
	text-decoration:none;
	display:inline;
}
.nav a:visited {
	color:white;
	width:auto;
	text-decoration:none;
	display:inline;
}
.nav li:not(:first-child):hover {
	background-color:#ed9c28;
	height:60px;
	width:100px;
	display:inline;
}
.entrance {
	margin-top:-15px;
	margin-left:-15px;
	list-style-type:none;
}
.schoolemail .nombre {
	margin-top:18px;
}
.schoolemail input {
	width:300px;
}
.schoolemail label {
	font-size:18px;
	font-weight:bold;
}
.housing_only {
	display:none;
}
.roommates_only {
	display:none;
}
.clearfix {
	margin:0;
	height:75px;
}
.highlight {
	color:#ed9c28;
	font-size:22px;
}
#amenities {
	padding-bottom:16px;
}
#namelist {
	margin-bottom:18px;
	width:300px;
}
#questionnaire {
	margin-left:20px;
}
.habits {
	padding-left:20px;
}
#nav .mypad {
	float:right;
	font-size:22px;
	width:150px;
}
.mypad img {
	border:3px solid #ed9c28;
	margin-top:6px;
	margin-left:6px;
}
#nav .mypad:first-child {
	display:inline;
}
#nav .mypad span {
	font-size:22px;
	vertical-align:center;
}
.pad {
	background-color:#ffd76e;
	width:350px;
	height:40px;
	color:black;
	position:relative;
	left:20%;
	margin-top:15px;
	padding-top:18px;
	text-align:center;
	text-decoration:none;
	font-size:20px;
}
.learn, .signin p {
	background-color:#ed9c28;
	height:60px;
	width:300px;
	font-size:36px;
}
.learn {
	margin-top:15px;
	padding-top:28px;
	margin-left:147px;
	text-align:center;
}
.intro {
	background:black;
	height:690px;
	width:600px;
	padding-top:20px;
	background: rgba(0, 0, 0, 0.65);
}
.signin {
	background:black;
	height:350px;
	width:400px;
	padding-top:20px;
	background: rgba(0, 0, 0, 0.65);
	margin-left:auto;
	margin-right:auto;
}
.signin #popup.center {
	margin-left:auto;
	margin-right:auto;
}
#copyright {
	padding-top:11px;
	padding-left:15px;
	width:100%;
}
#copyright .pad_contact {
	float:right;
	padding-right:22px;
}
.pad_contact a {
	text-decoration:none;
	color:#ed9c28;
}
.intro {
	position:relative;
	left:27%;
}
.intro img {
	position:relative;
	left:21%;
	overflow:hidden;
	top:-23px;
}
.intro p {
	text-align:center;
	margin-bottom:15px;
	position:relative;
	top:-45px;
}
.info {
	position:relative;
	top:-35px;
	left:75%;
}
.info a {
	text-decoration:none;
	color:#ed9c28;
}
h2 {
	text-align:center;
	font-weight:bold;
}
#team tr td {
	width:270px;
	height:450px;
	text-align:center;
	margin-top:135px;
	margin-left:15px;
	margin-right:15px;
	display:inline-block;
}
#team {
	margin-left:8px;
}
.wrapper label {
	display:block;
	width:800px;
	float:left;
	clear:left;
	text-align:right;
	margin-right: 1em;
	width:100%;
}
.wrapper input {
	display: inline-block;
	float: left;
	width:100px;
	text-align:right;
}
.thumbnail {
	height:100px;
	width:100px;
}
.sort {
	position:relative;
	top:-44px;
	left:72px;
}
#seekers td .percent {
	float:right;
	font-weight:bold;
	font-size:36px;
	margin-top:0;
	margin-bottom:0px;
	margin-right:10px;
	padding-top:10px;
}
#seekers {
	margin-top:-25px;
}
#seekers td {
	height:120px;
	width:300px;
}
#seekers .cell {
	margin-right:15px;
	margin-bottom:15px;
	height:120px;
	width:300px;
	background-color:#ed9c28;
	border: 2px solid #ed9c28;
	border-radius: 10px;
}
#seekers td .thumbnail {
	float:left;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid black;
}
#seekers td p {
	margin-top:10px;
	font-size:18px;
}
#manual {
	width:700px;
	height:400px;
	margin-left:200px;
	background: rgba(0, 0, 0, 0.65);
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
}
#lineup {
	width:920px;
	height:1300px;
	margin-left:20px;
	background: rgba(0, 0, 0, 0.65);
	padding-left:30px;
	padding-right:30px;
	padding-top:5px;
}
#lineup table td {
	width:300px;
	padding-right:5px;
	text-align:center;
}
#lineup #linear {
	vertical-align:top;
}
table .dos {
	width:650px;
	position:relative;
	left:120px;
}
#manual p, #manual li {
	font-size:18px;
}
.menu-trigger {
	display:none;
}
.holder {
	font-size:18px;
}
.holder:first-child {
	display:inline-block;
}
.holder input {
	margin-left:15px;
	margin-right:5px;
	display:inline;
}
.holder label {
	font-weight:bold;
	display:inline;
}
.holder .availability {
	margin-left:35px;
}
#range {
	padding-bottom:18px;
}
#sound .housing_only {
	display:all;
}
.move {
	margin-top:-7px;
}
#movingla {
	margin-left:15px;
}
.cityoptions {
	padding-top:15px;
	padding-bottom:10px;
}
.wakeup {
	font-weight:bold;
}
.morning {
	position:relative;
	left:25px;
}
.expand {
	font-weight:normal;
	margin-left:3px;
}
.button-holder:first-child {
	display:inline;
}
#profile {
	background: #ffd76e;
	color:black;
	font-weight:normal;
	width:830px;
	height:790px;
	margin-left:15px;
	margin-right:15px;
	padding-left:15px;
	padding-right:15px;
	border:5px solid #ed9c28;
}
.general {
	width:830px;
	border-bottom: 5px solid #ed9c28;
	padding:0;
	margin:0;
}
#profile .general:first-child {
	display:inline-block;
}
.general img {
	float:left;
	padding-top:15px;
	padding-right:15px;
}
.general h2 {
	text-align:left;
	padding:0;
	margin-top:17px;
	margin-bottom:-17px;
	font-size:42px;
}
.basics {
	margin-top:-20px;
	padding:0;
}
#gender {

}
.owner {
	margin-bottom:15px;
}
.gallery {
	border-bottom: 5px solid #ed9c28;
	border-top: 5px solid #ed9c28;
}
.gallery img {
	padding-top:15px;
	padding-bottom:6px;
	margin-right:10px;
}
.edit {
	padding:10px 10px 10px 10px;
	background-color:#ed9c28;
	font-weight:bold;
	width:150px;
	margin-top:-7px;
	text-align:center;
	float:right;
}
.look {
	display:inline-block;
	margin-bottom:-10px;
	position:relative;
	left:100px;
}
#gender {
	position:relative;
	left:134px;
}
#coed {
	position:relative;
	left:35px;
}
.mature {
	position:relative;
	left:168px;
}
#moveout {
	position:relative;
	left:102px;
}
.ear {
	position:relative;
	left:50px;
}
#wake {
	position:relative;
	left:187px;
}
#sleep {
	position:relative;
	left:225px;
}
#social {
	position:relative;
	left:27px;
}
#tidy {
	position:relative;
	left:43px;
}
#politic {
	position:relative;
	left:56px;
}
#faith {
	position:relative;
	left:52px;
}
#ask {
	position:relative;
	left:23px;
}
#movein {
	position:relative;
	left:30px;
}