/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
	height:100%;
}
body {
	background-image:url("/background.png");
	font-family:Myriad Pro;
	color:white;
	width:100%;
	height:100%;
	overflow:auto;
	font-size:20px;
	padding-top:80px;
	margin-bottom:0;
}
#wrap {
	min-height:100%;
}
#main {
  overflow:auto;
  padding-bottom:45px; /* this needs to be bigger than footer height*/
}
.footer {
  position: relative;
  margin-top: -45px; /* negative value of footer height */
  height: 45px;
  clear:both;
  padding-top:10px;
  padding-bottom:2px;
}
.dropdown-menu {
	background-color:#ed9c28;
	list-style:none;
	width:100%;
	display:none;
	height:150px;
}
.dropdown-menu a {
	float:left;
	margin-top:0;
	margin-right:5px;
}
.dropdown-menu hr {
	height:2px;
	margin:0;
}
#settings .dropdown-menu li {
	height:10px;
	display:block;
	margin-top:0;
}
header {
	background:black;
	color:white;
	width:100%;
	padding-top:-7px;
	position:fixed;
}
footer {
	position:relative;
	z-index:0;
	background:black;
	color:white;
	width:100%;
}
footer p {
	margin-left:12px;
}
header {
	height:80px;
}
.home {
	position:relative;
	left:0px;
}
.second {
	height:450px;
	width:600px;
}
#team .second td {
	padding-left:100px;
	margin-top:0;
}
.nav {
	list-style:none;
	width:800px;
	display:inline;
	height:80px;
}
.nav li {
	list-style-type:none;
	text-align:center;
	padding-top:2%;
	padding-bottom:2%;
	display:inline;
	width:7%;
	color:white;
}
.nav .logout {
	display:none;
}
.nav li span {
	text-align:center;
}
.nav #house {
	float:left;
	margin-right:10px;
	margin-left:10px;
	position:relative;
	top:-16px;
}
.nav li a {
	display:inline;
	color:white;
	font-size:20px;
	text-align:center;
	line-height:100%;
	width:7%;
	margin-left:0.8%;
	margin-right:0.8%;
}
.nav a {
	text-decoration:none;
	display:inline;
}
.nav a:visited {
	color:white;
	width:auto;
	text-decoration:none;
	display:inline;
}
.nav #rightfloat > li:hover {
	background-color:#ed9c28;
	padding-top:2%;
	display:inline;
	padding-bottom:2%;
}
.entrance {
	list-style-type:none;
	padding-left:0;
}
.entrance a {
	color:black;
	text-decoration:none;
	font-weight:bolder;
}
.schoolemail #send {
	position:relative;
	left:108px;
}
#writename {
	position:relative;
	left:232px;
}
.schoolemail .nombre {
	margin-top:18px;
}
.schoolemail label {
	font-size:18px;
	font-weight:bold;
}
.housing_only {
	display:none;
}
.look .oneroom {
	margin-left:15px;
	margin-right:10px;
}
.roommates_only {
	display:none;
}
.clearfix {
	height:50px;
	margin-top:18px;
	padding-right:8px;
}
.clearfix #rightfloat {
	float:right;
	margin-top:10px;
}
.nav .clearfix span {
	display:inline-block;
}
#username {
	margin-right:8px;
}
.highlight {
	color:#ed9c28;
	font-size:22px;
}
#amenities {
	padding-bottom:16px;
}
#namelist {
	margin-bottom:18px;
	width:300px;
}
#questionnaire {
	margin-left:20px;
}
.habits {
	padding-left:20px;
}
#nav .mypad {
	float:right;
	font-size:22px;
	width:150px;
}
.mypad img {
	border:3px solid #ed9c28;
	margin-top:6px;
	margin-left:6px;
}
#nav .mypad:first-child {
	display:inline;
}
#nav .mypad span {
	font-size:22px;
	vertical-align:center;
}
.pad {
	background-color:#ffd76e;
	width:350px;
	height:40px;
	color:black;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	padding-top:18px;
	text-align:center;
	text-decoration:none;
	font-size:20px;
}
.learn, .signin p {
	background-color:#ed9c28;
	height:60px;
	width:300px;
	font-size:36px;
	margin-top:auto;
	margin-bottom:auto;
}
.caret {
	padding-right:5px;
	margin-right:5px;
}
.learn {
	margin-top:18px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:18px;
}
.intro {
	background:black;
	height:690px;
	width:600px;
	padding-top:20px;
	background: rgba(0, 0, 0, 0.65);
	margin-left:auto;
	margin-right:auto;
	overflow:scroll;
}
.signin {
	background:black;
	height:350px;
	width:400px;
	padding-top:20px;
	background: rgba(0, 0, 0, 0.65);
	margin-left:auto;
	margin-right:auto;
}
.signin h2 {
	font-size:36px;
}
.signin a {
	text-decoration:none;
	color:white;
}
.signin #popup {
	text-align:center;
	font-size:16px;
}
#copyright {
	padding-top:11px;
	padding-left:15px;
	width:100%;
}
#popup:first-child {
	padding-bottom:10px;
}
#copyright .pad_contact {
	float:right;
	padding-right:22px;
}
.pad_contact a {
	text-decoration:none;
	color:#ed9c28;
}
.intro img {
	margin-left:25%;
}
.intro p {
	text-align:center;
}
.info {
	position:relative;
	top:-35px;
	left:75%;
}
.info a {
	text-decoration:none;
	color:#ed9c28;
}
h2 {
	text-align:center;
	font-weight:bold;
}
#team tr td {
	width:270px;
	height:450px;
	text-align:center;
	margin-top:135px;
	margin-left:15px;
	margin-right:15px;
	display:inline-block;
}
#team {
	margin-left:8px;
}
.wrapper label {
	display:block;
	width:800px;
	float:left;
	clear:left;
	text-align:right;
	margin-right: 1em;
	width:100%;
}
.wrapper input {
	display: inline-block;
	float: left;
	width:100px;
	text-align:right;
}
.thumbnail {
	height:100px;
	width:100px;
}
.sort {
	position:relative;
	top:-44px;
	left:72px;
}
#seekers td .percent {
	float:right;
	font-weight:bold;
	font-size:36px;
	margin-top:0;
	margin-bottom:0px;
	margin-right:10px;
	padding-top:10px;
}
#seekers {
	margin-top:-25px;
}
#seekers td {
	height:120px;
	width:300px;
}
#seekers .cell {
	margin-right:15px;
	margin-bottom:15px;
	height:120px;
	width:300px;
	background-color:#ed9c28;
	border: 2px solid #ed9c28;
	border-radius: 10px;
}
#seekers td .thumbnail {
	float:left;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid black;
}
#seekers td p {
	margin-top:10px;
	font-size:18px;
}
#manual {
	width:600px;
	height:400px;
	background: rgba(0, 0, 0, 0.65);
	margin-right:auto;
	margin-left:auto;
	padding-left:5%;
	padding-right:5%;
	padding-top:5px;
}
#manual ol {
	padding-top:20px;
	width:450px;
	margin-left:auto;
	margin-right:auto;
}
#lineup {
	width:920px;
	height:1050px;
	margin:auto;
	background: rgba(0, 0, 0, 0.65);
	padding-left:30px;
	padding-right:30px;
	overflow:hidden;
	position:relative;
}
#lineup h2 {
	margin-top:20px;
	padding-bottom:5px;
}
#lineup p {
	padding-bottom:15px;
}
#lineup table td {
	width:300px;
	padding-right:5px;
	text-align:center;
}
#lineup #linear {
	vertical-align:top;
}
table .dos {
	width:650px;
	margin-left:120px;
}
#manual p, #manual li {
	font-size:18px;
}
.menu-trigger {
	display:none;
}
.holder {
	font-size:18px;
}
.holder:first-child {
	display:inline-block;
}
.holder input {
	margin-left:15px;
	margin-right:5px;
	display:inline;
}
.holder label {
	font-weight:bold;
	display:inline;
}
.residentrange {
	font-weight:bold;
}
#label {
	font-weight:bold;
	font-size:18px;
	font-family:Myriad Pro;
}
.holder .availability {
	margin-left:35px;
}
#range {
	padding-bottom:18px;
}
#unisex {
	margin-left:8px;
}
#available {
	margin-left:214px;
}
#type {
	margin-left:178px;
}
#sound .housing_only {
	display:all;
}
.move {
	margin-top:-7px;
}
#movingla {
	margin-left:15px;
}
.cityoptions {
	padding-top:15px;
	padding-bottom:10px;
}
.cityoptions td:not(#other) {
	width:121px;
}
.cityoptions #other {
	width:450px;
}
#shortsummer {
	position:relative;
	left:76px;
}
#realty {
	margin-left:40px;
}
#monthly {
	margin-left:40px;
}
.wakeup {
	font-weight:bold;
}
.morning {
	position:relative;
	left:25px;
}
.expand {
	font-weight:normal;
	margin-left:3px;
}
.button-holder:first-child {
	display:inline;
}
#profile {
	background: #ffd76e;
	color:black;
	font-weight:normal;
	width:830px;
	height:790px;
	margin-left:15px;
	margin-right:15px;
	padding-left:15px;
	padding-right:15px;
	border:5px solid #ed9c28;
}
.general {
	width:830px;
	border-bottom: 5px solid #ed9c28;
	padding:0;
	margin:0;
}
#profile .general:first-child {
	display:inline-block;
}
.general img {
	float:left;
	padding-top:15px;
	padding-right:15px;
}
.general h2 {
	text-align:left;
	padding:0;
	margin-top:17px;
	margin-bottom:-17px;
	font-size:42px;
}
.basics {
	margin-top:-20px;
	padding:0;
}
.owner {
	margin-bottom:15px;
}
.gallery {
	border-bottom: 5px solid #ed9c28;
	border-top: 5px solid #ed9c28;
}
.gallery img {
	padding-top:15px;
	padding-bottom:6px;
	margin-right:10px;
}
.edit {
	padding:10px 10px 10px 10px;
	background-color:#ed9c28;
	font-weight:bold;
	width:150px;
	margin-top:-7px;
	text-align:center;
	float:right;
}
.look {
	display:inline-block;
	margin-bottom:-10px;
	position:relative;
	left:102px;
}
#gender {
	position:relative;
	left:140px;
}
#coed {
	position:relative;
	left:35px;
}
.mature {
	position:relative;
	left:175px;
}
#moveout {
	position:relative;
	left:122px;
}
.ear {
	position:relative;
	left:50px;
}
#wake {
	position:relative;
	left:187px;
}
#sleep {
	position:relative;
	left:225px;
}
#social {
	position:relative;
	left:25px;
}
#tidy {
	position:relative;
	left:43px;
}
#politic {
	position:relative;
	left:52px;
}
#faith {
	position:relative;
	left:46px;
}
#ask {
	position:relative;
	left:17px;
}
#movein {
	position:relative;
	left:174px;
}
p .terms_error a {
	text-decoration: none;
	color:white;
}